#quiz {
	background-color: transparent;
	//padding: 30px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.5);
	transition: all 0.5s ease;
}

/* quiz main area */
.quiz_area {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #EFEFEF;
}