/* quiz sidebar */
.quiz_sidebar {
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	//background-color: red;
}

.quiz_manager {
	flex: 0 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.manager_data {
	display: inherit;
	flex-direction: column;
}

.manager__avatar {
	height: 85px;
	width: 85px;
	border-radius: 50%;
	overflow: hidden;
	background-color: $light-bg;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.quiz_info {
	flex: 1 0 auto;
}

.quiz_footer {
	flex: 0 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	span {
		&:nth-child(1) {
			margin-right: 15px;
		}
		&:nth-child(2) {
			text-align: right;
		}
	}
}