/* quiz typography */
.quiz-lighttext {
	font-size: 10pt;
}
.quiz-smalltext {
	font-size: 9pt;
	i { font-style: normal; color: $info-color; }

}
.quiz-smalltext_semibold {
	font-size: 10pt;
}
.quiz-mediumtext {
	font-size: 12pt;
}
.quiz-bigtext {
	font-size: 10pt;
	text-transform: uppercase;
}
.quiz-headtext {
	font-size: 18pt;
}